html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  
}

@media (max-width: 450px) {
  .App {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; */
    gap: 14px;
    margin: 0;
    padding: 0;
    width: auto;
    
  }
}

@media (max-width: 300px) {
  .App {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; */
    gap: 14px;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: scroll;
  }
}